In [1]:
import glob
import os
import pandas as pd

# This grabs all .txt files in the folder
txt_files = glob.glob('/Users/jhenifheralmeida/Documents/VANGUARD/*.txt')

for file in txt_files:
    df = pd.read_csv(file, sep=None, engine='python')  # lets pandas infer separator
    csv_name = os.path.splitext(file)[0] + '.csv'
    df.to_csv(csv_name, index=False)

In [2]:
#path to csv folders
folder_path = '/Users/jhenifheralmeida/Documents/VANGUARD/'
#read all csv in that folder
csv_files = glob.glob('/Users/jhenifheralmeida/Documents/VANGUARD/' + '*.csv')

#read and combine
all_dfs = []
for file in csv_files:
    df = pd.read_csv(file)
    df['source_file'] = os.path.basename(file)
    all_dfs.append(df)

#combine all into DataFrame
combined_df = pd.concat(all_dfs, ignore_index=True)

print(combined_df.head)

<bound method NDFrame.head of         client_id Variation                      source_file  clnt_tenure_yr  \
0         9988021      Test  df_final_experiment_clients.csv             NaN
1         8320017      Test  df_final_experiment_clients.csv             NaN
2         4033851   Control  df_final_experiment_clients.csv             NaN
3         1982004      Test  df_final_experiment_clients.csv             NaN
4         9294070   Control  df_final_experiment_clients.csv             NaN
...           ...       ...                              ...             ...
896618    9668240       NaN       df_final_web_data_pt_2.csv             NaN
896619    9668240       NaN       df_final_web_data_pt_2.csv             NaN
896620    9668240       NaN       df_final_web_data_pt_2.csv             NaN
896621    9668240       NaN       df_final_web_data_pt_2.csv             NaN
896622     674799       NaN       df_final_web_data_pt_2.csv             NaN

        clnt_tenure_mnth  clnt_age gendr  num_accts  bal  calls_6_mnth  \
0                    NaN       NaN   NaN        NaN  NaN           NaN
1                    NaN       NaN   NaN        NaN  NaN           NaN
2                    NaN       NaN   NaN        NaN  NaN           NaN
3                    NaN       NaN   NaN        NaN  NaN           NaN
4                    NaN       NaN   NaN        NaN  NaN           NaN
...                  ...       ...   ...        ...  ...           ...
896618               NaN       NaN   NaN        NaN  NaN           NaN
896619               NaN       NaN   NaN        NaN  NaN           NaN
896620               NaN       NaN   NaN        NaN  NaN           NaN
896621               NaN       NaN   NaN        NaN  NaN           NaN
896622               NaN       NaN   NaN        NaN  NaN           NaN

        logons_6_mnth             visitor_id                     visit_id  \
0                 NaN                    NaN                          NaN
1                 NaN                    NaN                          NaN
2                 NaN                    NaN                          NaN
3                 NaN                    NaN                          NaN
4                 NaN                    NaN                          NaN
...               ...                    ...                          ...
896618            NaN   388766751_9038881013  922267647_3096648104_968866
896619            NaN   388766751_9038881013  922267647_3096648104_968866
896620            NaN   388766751_9038881013  922267647_3096648104_968866
896621            NaN   388766751_9038881013  922267647_3096648104_968866
896622            NaN  947159805_81558194550  86152093_47511127657_716022

       process_step            date_time
0               NaN                  NaN
1               NaN                  NaN
2               NaN                  NaN
3               NaN                  NaN
4               NaN                  NaN
...             ...                  ...
896618        start  2017-05-24 18:46:10
896619        start  2017-05-24 18:45:29
896620       step_1  2017-05-24 18:44:51
896621        start  2017-05-24 18:44:34
896622        start  2017-06-03 12:17:09

[896623 rows x 15 columns]>

In [3]:
#clean column name
combined_df.columns = combined_df.columns.str.strip().str.lower().str.replace(' ', '_')
#check missing data 
print(combined_df.isnull().sum())

client_id                0
variation           846123
source_file              0
clnt_tenure_yr      826028
clnt_tenure_mnth    826028
clnt_age            826029
gendr               826028
num_accts           826028
bal                 826028
calls_6_mnth        826028
logons_6_mnth       826028
visitor_id          141218
visit_id            141218
process_step        141218
date_time           141218
dtype: int64

In [4]:
#remove duplicates
combined_df.drop_duplicates(inplace=True)
print(combined_df.describe(include='all'))

           client_id variation                 source_file  clnt_tenure_yr  \
count   8.858590e+05     50500                      885859    70595.000000
unique           NaN         2                           4             NaN
top              NaN      Test  df_final_web_data_pt_2.csv             NaN
freq             NaN     26968                      403595             NaN
mean    5.012613e+06       NaN                         NaN       12.052950
std     2.879218e+06       NaN                         NaN        6.871819
min     1.690000e+02       NaN                         NaN        2.000000
25%     2.521514e+06       NaN                         NaN        6.000000
50%     5.028671e+06       NaN                         NaN       11.000000
75%     7.495440e+06       NaN                         NaN       16.000000
max     9.999875e+06       NaN                         NaN       62.000000

        clnt_tenure_mnth      clnt_age  gendr     num_accts           bal  \
count       70595.000000  70594.000000  70595  70595.000000  7.059500e+04
unique               NaN           NaN      4           NaN           NaN
top                  NaN           NaN      U           NaN           NaN
freq                 NaN           NaN  24122           NaN           NaN
mean          150.659367     46.442240    NaN      2.255528  1.474452e+05
std            82.089854     15.591273    NaN      0.534997  3.015087e+05
min            33.000000     13.500000    NaN      1.000000  1.378942e+04
25%            82.000000     32.500000    NaN      2.000000  3.734683e+04
50%           136.000000     47.000000    NaN      2.000000  6.333290e+04
75%           192.000000     59.000000    NaN      2.000000  1.375449e+05
max           749.000000     96.000000    NaN      8.000000  1.632004e+07

        calls_6_mnth  logons_6_mnth             visitor_id  \
count   70595.000000   70595.000000                 744641
unique           NaN            NaN                 130236
top              NaN            NaN  699275239_82397698587
freq             NaN            NaN                     74
mean        3.382478       5.566740                    NaN
std         2.236580       2.353286                    NaN
min         0.000000       1.000000                    NaN
25%         1.000000       4.000000                    NaN
50%         3.000000       5.000000                    NaN
75%         6.000000       7.000000                    NaN
max         7.000000       9.000000                    NaN

                           visit_id process_step            date_time
count                        744641       744641               744641
unique                       158095            5               629363
top     712824876_8175482950_365042        start  2017-03-29 11:24:54
freq                             61       234999                   14
mean                            NaN          NaN                  NaN
std                             NaN          NaN                  NaN
min                             NaN          NaN                  NaN
25%                             NaN          NaN                  NaN
50%                             NaN          NaN                  NaN
75%                             NaN          NaN                  NaN
max                             NaN          NaN                  NaN

In [5]:
print(combined_df.dtypes)

client_id             int64
variation            object
source_file          object
clnt_tenure_yr      float64
clnt_tenure_mnth    float64
clnt_age            float64
gendr                object
num_accts           float64
bal                 float64
calls_6_mnth        float64
logons_6_mnth       float64
visitor_id           object
visit_id             object
process_step         object
date_time            object
dtype: object